<div data-id="<%= makeId(this.name) %>" class="exercise">
			<h4>
				<%= this.name %><small> <%= this.set %> * <%= this.rep %></small>
			</h4>
			<div class="exercise-sets btn-group btn-group-justified">

			</div>
			<div class="row user-exercise">

			</div>
</div>
