<div class="row margin-top">
  <div class="col-xs-7">
    <h4><%= this.name %></h4>
  </div>
  <div class="col-xs-5">
    <div class="input-group date">
      <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
</div>
<ul id="user-tabs" class="nav nav-tabs">
</ul>
<div class="background clearfix">
  <div class="">
    <div class="col-xs-2 margin-top">
      <!--<h3>Välj övng</h3>-->
      <div id="exercise-list" class="btn-group-vertical">
      </div>
    </div>
    <div class="col-xs-10">
      <div id="exercise-container"></div>
    </div>
  </div>
</div>
