<tr class="exercise-row" id="exercise-<%= makeId(this.name) %>">
	<td class="col-xs-6">
		<input class="name form-control" type="text" value="<%= this.name %>">
	</td>

	<td>
		<input class="set form-control" type="text" value="<%= this.set %>">
	</td>
	<td>
		<input class="rep form-control" type="text" value="<%= this.rep %>">
	</td>
	<td>
		<div data-func="button_removeexercise" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></div>
	</td>
</tr>
