<h2>Skapa nytt pass</h2>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Namn på pass</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>
  </div>
    <h3>Lägg till övningar <div class="pull-right"><div data-func="button_newExercise" class="btn btn-primary">Ny övning</div> </div> </h3>
    <div id="exercises">
</div>
  <h3>Övningar på pass</h3>
  <table class="table table-condensed" id="added-exercises">
  </table>
  <hr />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" id="button-add" data-func="button_add" class="btn btn-primary">Spara pass</button>
    </div>
  </div>
</form>
