<h3>Välj deltagare</h3>
<small>
  Lägg till fler deltagare via inställningar
</small>
<div class="user-list btn-group btn-group-justified"></div>
<h3>Välj pass <button data-func="chooseCustomExercises" class="btn btn-primary pull-right">Välj övningar</button></h3>
<div class="row" id="passes">
</div>
