<div class="row" id="<%= makeId(this.name) %>" draggable="true">
    <div class="btn-group col-xs-12">
        <div class="btn btn-default col-xs-8" data-func="pass_click">  <%= this.name %> </div>
        <div class="col-xs-2 btn btn-default" data-func="delete_pass" ><span class="glyphicon glyphicon-remove"></span></div>

        <div class="col-xs-2 btn btn-default" data-func="delete_pass" ><span class="glyphicon glyphicon-move"></span></div>
    </div>
</div>