<div class="popup">
  <div id="new-exercise-popup">

  </div>
  <div class="popup-buttons btn-group btn-group-justified">
    <a id="popup-cancel" href="#" class="btn btn-primary">Avbryt</a>
    <a id="popup-train" href="#" class="btn btn-primary">Spara</a>
  </div>
</div>
