<h3>Namn på pass</h3>
<p>
  Ange vad du vill att ditt pass ska kallas, t.ex "Benpass"
</p>
<div class="form-group">
  <input id="pass-name" type="text" class="form-control" placeholder="Namn på pass" />
  <div class="error-message alert alert-danger hidden"></div>
</div>
