<div id="step-1">

</div>
<div id="step-2" class="hidden">

</div>
<div id="step-3" class="hidden">

</div>
<div class="step-buttons btn-group btn-group-justified">
  <a id="step-back" href="#" data-func="stepGoBack" class="btn btn-primary hidden">Föregående steg</a>
  <a id="step-forward" href="#" data-func="stepGoForward" class="btn btn-primary">Nästa steg</a>
  <a id="save-pass" href="#" data-func="savePass" class="btn btn-primary hidden">Pass klart, spara!</a>
</div>
