<h2>Statistik</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    Total vikt på övning
  </div>
  <ul id="choose-total-range" class="nav nav-pills">
    <li data-range="today" class="active"><a href="#">Idag</a></li>
    <li data-range="week"><a href="#">Veckan</a></li>
    <li data-range="alltime"><a href="#">All time</a></li>
  </ul>
  <div id="total-lift" class="list-group">

  </div>
</div>
